@font-face {
    font-family: 'aMavickFont';
    src: url('../fonts/aMavickFont.woff2') format('woff2'),
        url('../fonts/aMavickFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_FuturaOrto';
    src: url('../fonts/AFuturaOrtoBold.woff2') format('woff2'),
        url('../fonts/AFuturaOrtoBold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'a_FuturaOrto';
    src: url('../fonts/AFuturaOrto.woff2') format('woff2'),
        url('../fonts/AFuturaOrto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

