<div class="text-center">
    <a href="#top" title="Наверх" class="ba-to-top" data-smooth-scroll data-animation-duration="200">
        <svg width="22" height="9" viewBox="0 0 22 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0135 0.322641L21.4138 7.08693C22.0121 7.51722 22.0121 8.21486 21.4138 8.64494C20.816 9.07506 19.8466 9.07506 19.2489 8.64494L10.9311 2.65959L2.61361 8.64477C2.01562 9.07488 1.04623 9.07488 0.44849 8.64477C-0.149497 8.21465 -0.149497 7.51704 0.44849 7.08675L9.84887 0.322466C10.1479 0.107408 10.5394 1.26015e-07 10.931 1.30698e-07C11.3229 1.35383e-07 11.7147 0.107617 12.0135 0.322641Z" fill="#151615"/>
        </svg>
        </a>
            
</div>



<footer class="ba-footer">
    <div class="row">
        <div class="column ba-footer-col small-4">
            <ul class="menu aligh-center ba-menu-footer-mob">
                <li>
                    <a href="#">О нас</a>
                </li>

            </ul>

            <h5 class="ba-menu-footer-desktop__title">Информация о нас</h5>
            <ul class="menu  vertical ba-menu-footer-desktop">
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li>
                    <a href="#">Наша история</a>
                </li>
                <li>
                    <a href="#">Эко-политика</a>
                </li>
                <li>
                    <a href="#">Наши партнеры</a>
                </li>
                <li>
                    <a href="#">Возврат товара</a>
                </li>
                <li>
                    <a href="#">Оплата и доставка</a>
                </li>
            </ul>
        </div>
        <!-- /column small-4 -->
        <div class="column small-4  flex-container  flex-dir-column align-middle">
            <a href="/" class="ba-logo ba-logo--footer">
                <img src="{{root}}assets/img/logo.png" alt="Эко лавка">
            </a>

            <div class="show-for-medium ba-socials flex-container align-center">
                <a href="#" aria-label="Facebook">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-facebook" />
                    </svg>
                </a>
                <a href="#" aria-label="Instagram">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-instagram"/>
                    </svg>
                </a>
                <a href="#" aria-label="Telegramm">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-telegram"/>
                    </svg>
                </a>

            </div>
            <!-- / ba-socials-->


        </div>
        <!-- /column small-4 -->
        <div class="column small-4 ba-footer-col">
            <ul class="menu aligh-center ba-menu-footer-mob">
                <li>
                    <a href="{{root}}shop.html">Купить</a>
                </li>

            </ul>
            <h5 class="ba-menu-footer-desktop__title">Информация о нас</h5>
            <ul class="menu  vertical ba-menu-footer-desktop">
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li>
                    <a href="#">Наша история</a>
                </li>
                <li>
                    <a href="#">Эко-политика</a>
                </li>
                <li>
                    <a href="#">Наши партнеры</a>
                </li>
                <li>
                    <a href="#">Возврат товара</a>
                </li>
                <li>
                    <a href="#">Оплата и доставка</a>
                </li>
            </ul>

        </div>
        <!-- /column small-4 -->

        <div class="column small-12 ">
            <div class="hide-for-medium ba-socials flex-container align-center align-left">
                <a href="#" aria-label="Facebook">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-facebook"/>
                    </svg>
                </a>
                <a href="#" aria-label="Instagram">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-instagram"/>
                    </svg>
                </a>
                <a href="#" aria-label="Telegramm">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-telegram"/>
                    </svg>
                </a>

            </div>
            <!-- / ba-socials-->
        </div>
        <!-- /column small-12-->
    </div>
    <!-- /.row -->
    <div class="ba-copyright text-center medium-text-right">
        <div class="row column">
            Интернет-магазин Эко-Лавка 2019
        </div>
    </div>
</footer>
<!-- /.ba-footer -->