<header class="ba-header-wrap" id="top">  
    <div class="row column">
            <div class="ba-header-bar  flex-container align-justify align-middle">

                <div class="ba-header-bar__left flex-container align-middle">
                        <button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
                            </button>
                            <a href="#" class="hide-for-medium" title="Поиск">
                                <svg width="24" height="24">
                                    <use xlink:href="#icon-search"/>
                                </svg>
                            </a>
                    <ul class="menu show-for-medium">
                        <li>
                            <a href="tel:+3809500513000" title="Телефон">(095) 00-513-000</a>
                        </li>
                        <li>
                            <a href="#" title="Информация">Информация о нас</a>
                        </li>
                    </ul>
                </div>
                <!-- end ba-header-bar__left -->
                <div class="ba-header-bar__center">
                    <ul class="menu show-for-medium">
                        <li>
                        <a href="#" title="Вход">
                            Вход/Регистрация
                        </a>
                    </li>
                   </ul>
                        <a href="/" class="ba-logo" title="Лого">
                            <img src="{{root}}assets/img/logo.png" alt="Эко лавка">
                        </a>
                   
                </div>
                <!-- end  ba-header-bar__center-->
                <div class="ba-header-bar__right flex-container align-middle align-right">
                            <ul class="menu show-for-medium align-center">
                                    <li>
                                        <a href="{{root}}shop.html">Давайте покупать</a>
                                    </li>
                                </ul>
                                <div class="ba-header-bar__actions">
                                        <a href="#" class="show-for-medium">
                                            <svg width="24" height="24">
                                                <use xlink:href="#icon-search"/>
                                            </svg>
                                        </a>
                                        <a href="#">
                                                <svg width="28" height="23">
                                                    <use xlink:href="#icon-heart"/>
                                                </svg>
                                            </a>
                                            <a href="#">
                                                    <svg width="22" height="23">
                                                        <use xlink:href="#icon-cart"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <!-- end ba-header-bar__actions -->
                    

                </div>
                <!-- /ba-header-bar__right -->
               
    
                </div>
                
    </div>  
<!-- end row column -->
    
</header>