<nav>
    <ul class="menu vertical">
        <li {{#ifpage 'index'}}class="active"{{/ifpage}}>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="{{root}}shop.html">Давайте покупать</a>
        </li>
      
        <li>
                <a href="#">Информация о нас</a>
    
            </li>
    
        <li>
            <a href="tel:+3809500513000">(095)00-513-000</a>
        </li>
        <li>
                <a href="#">Вход/Регистрация</a>
            </li>
      
    </ul>
</nav>