<article class="ba-product">
        <button title="Дабавить в избранное:{{post.title}}" class="ba-add-to-futured">
                        <svg width="28" height="23">
                            <use xlink:href="#icon-heart"/>
                        </svg>
        </button>
        <a class="ba-product__link" href="{{root}}/single.html">
        <img src="{{root}}{{post.img}}" alt="{{post.title}}">
        <h4 class="ba-product__title">
           {{post.title}}
        </h4>
       <p class="ba-product__price h4">от {{post.price}} грн.</p>

        </a>
    </article>
