<h3 class=show-for-medium>Фильтр</h3>
<div class="text-center">
<button class="h3 hide-for-medium ba-filter-toggle" data-toggle="shop-filters">
        <svg  class="ba-filter-toggle__left-arrow width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 3.0014C14 2.8103 13.8371 2.65574 13.6358 2.65574L1.23773 2.65574L3.41709 0.587354C3.55922 0.452459 3.55922 0.236065 3.41709 0.101171C3.27496 -0.0337239 3.04695 -0.0337239 2.90482 0.101171L0.106599 2.75691C-0.0355327 2.8918 -0.0355327 3.1082 0.106599 3.24309L2.90482 5.89883C2.97589 5.96628 3.06768 6 3.16244 6C3.25719 6 3.34899 5.96628 3.42005 5.89883C3.56218 5.76393 3.56218 5.54754 3.42005 5.41265L1.24069 3.34426L13.6417 3.34426C13.8371 3.34426 14 3.1925 14 3.0014Z" fill="#151615"/>
            </svg>
            
    Фильтр
    <svg class="ba-filter-toggle__bot-arrow width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.59406 0.179893L11.7537 3.95144C12.0821 4.19135 12.0821 4.58034 11.7537 4.82014C11.4256 5.05995 10.8935 5.05995 10.5654 4.82014L5.99991 1.4829L1.43457 4.82004C1.10635 5.05986 0.574263 5.05986 0.24617 4.82004C-0.0820566 4.58022 -0.0820566 4.19126 0.24617 3.95134L5.4059 0.179796C5.57002 0.0598867 5.7849 -2.52866e-07 5.99989 -2.62263e-07C6.21498 -2.71665e-07 6.43002 0.0600035 6.59406 0.179893Z" fill="#151615"/>
        </svg>
        

</button>
</div>
<!-- /text-center -->
<div id="shop-filters" data-toggler="show-for-medium" class="show-for-medium">
<aside class="ba-widget">
<h6>Цена</h6>

<div id="price-range">

</div>
<!-- /# price-range-->

<div class="ba-price-wrap">
<label>
    <input type="number" name="price_min" value="50">
    грн
</label>
-
<label>
    <input type="number" name="price_max" value="2000">
    грн
</label>
</div>
<!-- /ba-prise-wrap -->
</aside>

<aside class="ba-widget">
    <h6>Страна</h6>

    <ul class="no-bullet">
        <li>
    <label class="ba-checkbox">
                    <input type="checkbox" name="country[]" value="Китай">
                    <span class="ba-checkbox__input"></span>
       Китай (15)
    </span>
</li>
<li>
    <label class="ba-checkbox">
        <input type="checkbox" name="country[]" value="Япония">
            <span class="ba-checkbox__input"></span>

           Япония (0)
        </label>
    </li>
    <li>
        <label class="ba-checkbox">
            <input type="checkbox" name="country[]" value="Цейлон">
                <span class="ba-checkbox__input"></span>

               Цейлон (8)
            </label>
        </li>
        <li>
            <label class="ba-checkbox">
                <input type="checkbox" name="country[]" value="Кения">
                    <span class="ba-checkbox__input"></span>

                  Кения (0)
                </label>
            </li>
            <li>
                <label class="ba-checkbox">
                    <input type="checkbox" name="country[]" value="Шри-ланка">
                        <span class="ba-checkbox__input"></span>

                        Шри-ланка (10)
                    </label>
                </li>
                <li>
                    <label class="ba-checkbox">
                        <input type="checkbox" name="country[]" value="Индия">
                            <span class="ba-checkbox__input"></span>

                            Индия (2)
                        </label>
                    </li>
        </ul>
    <!-- /ba-prise-wrap -->
    </aside>
</div>
<!-- /shop-filters -->