<section class="ba-subscribe-section">
    <div  class="row column">
        <h3 class="text-center">подписаться на расылку</h3>
        <form action="#" method="POST" class="ba-subscribe-form">
            <div class="ba-form-row">
                <span>
                    Получать SMS
                </span>
            
                <div class="switch">
                        <input class="switch-input" id="getSMS" type="checkbox" name="exampleSwitch">
                        <label class="switch-paddle" for="getSMS">
                          <span class="show-for-sr"> Получать SMS</span>
                        </label>
                      </div>
                    </div>
                    <!-- / ba-form-row-->
                    <div class="ba-form-row">
                            <span>
                                Получать аудиозвонки
                            </span>
                        
                            <div class="switch">
                                    <input class="switch-input" id="getCalls" type="checkbox" name="exampleSwitch">
                                    <label class="switch-paddle" for="getCalls">
                                      <span class="show-for-sr">Получать аудиозвонки</span>
                                    </label>
                                  </div>
                                </div>
                                <!-- / ba-form-row-->
            
            <label for="phone" class="ba-lable-small">Ваш телефон</label>
            <input type="tel" name="phone" id="phone" placeholder="Ваш телефон">

            <button class="button" type="submit">Отправить</button>
        </form>

    </div>
<!-- / row column-->

</section>